<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Journeylog - pagina personale</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    
    <style>

body { 
  padding-top: 65px; 
  background-color: rgb(239, 242, 246);
}

.img-profile {
  border-radius: 50%;
}

.img-user{
  height: 168px;
}

.img-profile-id {
  max-height: 30px;
}
    </style>
    
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand fw-semibold" href="/">JourneyLog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link explore" href="/explore">Esplora</a>
          </li>
        </ul>
      </div>
      
        <% if(!user){ %> 
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LoginModal">Login</button>
        <%} else {%>
            <div class="dropdown dropdown-large">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Tu</button>
              <ul class="dropdown-menu dropdown-menu-end shadow">
                <li class="dropdown-item">
                  <div class="row">
                    <div class="col align-self-center"><img class="img-profile img-profile-id" src="<%= user.thumbnail %>"alt=""></div>
                      <div class="col align-self-center">
                        <a class="fw-semibold mb-0" href="/profile/user?id=<%= user.id %>"><%= user.username %></a>
                        <p class="mb-0 fw-light text-secondary" style="font-size: 14px;">Viaggiatore esperto</p>
                      </div>
                  </div>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/profile">Home</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
              </ul>
            </div>
        <%} %> 
    </div>
  </nav>

    <div class="container">  

      <div class="bg-light p-5 rounded mb-3">
        <div class="row">
          
          <div class="col-3 col-img-profile align-self-center">
            <img src="<%= userInfoArray.info[0].thumbnail %>" alt="" class="img-profile img-user">
          </div>
          
          <div class="col align-self-center">
            <div class="row">
              <h1><%= userInfoArray.info[0].username %></h1>
              <p class="text-muted">Viaggiatore esperto</p>
            </div>
            <div class="row mb-2">
              <div class="hstack gap-2 gap-xl-3">
                <% 
                  var giorniViaggio = 0;
                  for(let i in userTripArray.trips){
                    let differenceInTime = (userTripArray.trips[i].tripEnd).getTime() - (userTripArray.trips[i].tripStart).getTime()
                    let differnceInDays = Math.round(differenceInTime / (1000 * 3600 * 24))+1
                    giorniViaggio = giorniViaggio + differnceInDays
                } %>
                <!-- User stat item -->
                <div>
                  <h6 class="mb-0"><%=userTripArray.trips.length %></h6>
                  <small>Paesi</small>
                </div>
                <!-- Divider -->
                <div class="vr"></div>
                <!-- User stat item -->
                <div>
                  <h6 class="mb-0"><%=giorniViaggio%></h6>
                  <small>Giorni di viaggio</small>
                </div>
                <div class="vr"></div>
                <!-- User stat item -->
                <div>
                  <h6 class="mb-0">18k</h6>
                  <small>Follower</small>
                </div>
              </div>
            </div>

            <div class="row">

              <% 
              var numPaesiVisitati = userTripArray.trips.length; 
              var numPaesiMondo = 195; 
              var incidenzaPercentuale =((numPaesiVisitati/numPaesiMondo) * 100).toFixed(2);
            %>
            <p>Nel mondo esistono 195 paesi, attualmente <%= userInfoArray.info[0].username %> ne ha visitati ben <%= userTripArray.trips.length %> paesi: 
              è al <%= incidenzaPercentuale %>% di tutto il mondo!</p> 
            <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: <%= incidenzaPercentuale %>%"> <%= incidenzaPercentuale %> %</div>
            </div>

            </div>
            
          </div>

        </div>
      </div>


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col px-1 mt-1">
          <div class="container border rounded-3 bg-white">
            <div class="container">
              <img src="https://flagicons.lipis.dev/flags/4x3/it.svg" alt="">
            </div>
          </div>
        </div>

        <div class="col px-1 mt-1">
          <div class="container border rounded-3 bg-white">post</div>
        </div>
        
        <div class="col px-1 mt-1">
          <div class="container border rounded-3 bg-white">post</div>
        </div>

        <div class="col px-1 mt-1">
          <div class="container border rounded-3 bg-white">post</div>
        </div>

        <div class="col px-1 mt-1">
          <div class="container border rounded-3 bg-white">post</div>
        </div>

        <div class="col px-1 mt-1">
          <div class="container border rounded-3 bg-white">post</div>
        </div>


      </div>


      <div class="row">

        <div class="col">


          <% 
            if(userTripArray.trips.length == 0){ %> 
              <p>A quanto pare <%= userInfoArray.info[0].username %> non ha ancora viaggiato</p> 
          <% } else { for(let i in userTripArray.trips){%>
              

              <div class="card mb-3 border-0">
                <div class="card-header">
                  <div class="row align-items-center ">
                    <div class="col-2 col-img-profile text-center pe-0">
                      <img src="<%= userInfoArray.info[0].thumbnail %>" alt="" class="img-profile img-profile-id">
                    </div>
                    <div class="col ps-0 align-items-center">
                      <p class="mb-0"> <strong class="fw-semibold"> <%= userInfoArray.info[0].username %></strong> ha viaggiato in <strong class="fw-semibold"><%= userTripArray.trips[i].countryName %></strong></p>
                    </div>
                  </div>
                </div>
                <div class="card-body">

                  <% 
                    let dt = (userTripArray.trips[i].tripEnd).getTime() - (userTripArray.trips[i].tripStart).getTime()
                    let gv= Math.round(dt / (1000 * 3600 * 24))+1
                  %>

                  <p class="card-text">
                    Il viaggio di <%= userInfoArray.info[0].username %> in <%= userTripArray.trips[i].countryName %> è durato <%= gv %> giorni:
                    è partito <%=(userTripArray.trips[i].tripStart).toLocaleString('it-IT', {dateStyle:'full'} )%> ed è tornato 
                    <%=(userTripArray.trips[i].tripEnd).toLocaleString('it-IT', {dateStyle:'full'} )%>.
                  </p>

                  
                  <p class="card-subtitle text-muted mb-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.5.5 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103M10 1.91l-4-.8v12.98l4 .8zm1 12.98 4-.8V1.11l-4 .8zm-6-.8V1.11l-4 .8v12.98z"/>
                    </svg>
                    Capitale: <%=userTripArray.trips[i].Capital %>
                  </p>
                  <p class="card-subtitle text-muted mb-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
                      <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286zm1.634-.736L5.5 3.956h-.049l-.679 2.022z"/>
                      <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm7.138 9.995q.289.451.63.846c-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6 6 0 0 1-.415-.492 2 2 0 0 1-.94.31"/>
                    </svg>
                    Lingua: <%=userTripArray.trips[i].OfficialLanguage %>
                  </p>
                  <p class="card-subtitle text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
                      <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                      <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2z"/>
                    </svg>
                    Valuta: <%=userTripArray.trips[i].CurrencyCode %>
                  </p>
                </div>
              </div>

      

          <% }} %>

          
        </div>

      </div>

      

    </div><!-- Chiusura container-->

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-start">Forello Gionata Rosario</p>

      <p class="col-md-4 mb-0 text-center">Journeylog</p>

      <p class="col-md-4 mb-0 text-end">SOASEC</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>